[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lgpr"]
	path = lgpr
	url = https://github.com/jtimonen/lgpr
	shallow = true
	registered = true
